<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    <title>
        Movie Classification: Form
    </title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet"/>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>
  </head>

  <body class="index-page">

    <div class="wrapper">
        <div class="page-header">
            <div class="squares square1"></div>
            <div class="squares square2"></div>
            <div class="squares square3"></div>
            <div class="squares square4"></div>
            <div class="squares square5"></div>
            <div class="squares square6"></div>
            <div class="squares square7"></div>
            <div class="container">
                <div class="content-center brand">
                    <h1 class="h1-seo" rel="tooltip" title="Deep Learning 2019!" data-placement="top">
                        • <span> Deep Learning </span> • <br/> Movie Review Analysis
                    </h1>
                    <h3>Please, enter your movie review in the box below:</h3>
                    {% from "_formhelpers.html" import render_field %}
                    <form action="/results" method="post">
                        <div class="form-group">
                            {{ render_field(form.moviereview, class="form-control", cols='30', rows='10') }}
                        </div>
                        <button type="submit" class="btn btn-lg btn-primary"> Let's analyze it!</button>
                    </form>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h1 class="title"> Universidad Santo Tomás </h1>
                    </div>
                    <div class="col-md-3">
                        <ul class="nav">
                            <li class="nav-item"> David S. García</li>
                            <li class="nav-item"> Christopher S. Pérez</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="nav">
                            <li class="nav-item"> Juan S. Ulloa</li>
                            <li class="nav-item"> Julián D. Franco</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h3 class="title">Deep Learning 2019</h3>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="{{ url_for('static', filename='js/core/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/core/popper.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/core/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/plugins/perfect-scrollbar.jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/plugins/nouislider.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/plugins/slick.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/plugins/anime.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/plugins/moment.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/style.js') }}" type="text/javascript"></script>

  </body>
</html>