<!doctype html>
<html>
  <head>
    <title>clasificador de sentimientos</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  </head>
  <body>
    <div class="container-fluid">
        <br><br>
        <h2 text-center><strong>Resultados</strong> del clasificador de sentimientos (positivos/negativos) en español</h2>
        <h3>El modelo utilizado fue Machine Learning classic (regresión logistica)</h3>
        <hr>
        <h3>El texto:</h3>
        <div>"{{ content }}"</div>

        <h3>Predicción:</h3>
        <div>El texto se clasificó como <strong>{{ prediction }}</strong>
        	 (con una probabilidad de: {{ probability }}%).</div>
        <hr>


        <hr>

        <form action="/">
           <input type=submit class="btn btn-primary" value='Evaluar otro texto'>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/javascript"></script>
</body>
</html>
